

<form #myForm="ngForm" (ngSubmit) = "processForm(myForm)">
<div fxLayout="column">
<div>
    <mat-form-field>
             <input name="name" placeholder="Your Name" matInput ngModel required>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
            <input name="email" type="email" placeholder="Your Email Address" matInput ngModel required email>

    </mat-form-field>
</div>
<div>
        <mat-form-field>
                <input name="thought" type="text" placeholder="Enter Your Thoughts" matInput ngModel>
    
        </mat-form-field>
    </div>
</div>
</form>

